<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= @user.introduction %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-9">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      
        <% @user.microposts.each_slice(3) do |group| %>
          <div class="row">
           
            <% group.each do |micropost| %>
              <div class="col-md-3">
                <section class="microposts">
                  <span class="content">
                    <%= micropost.content %>
                    <%= image_tag micropost.display_image if micropost.image.attached? %>
                    <%= link_to "Comment and good!", micropost_path(micropost.id) %>
                  </span>
                  <span class="timestamp">
                    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
                    <% if current_user?(micropost.user) %>
                      <%= link_to "delete", micropost, method: :delete,
                                                       data: { confirm: "You sure?" } %>
                    <% end %>
                  </span>
                </section>
              </div>
            <% end %>
            
           
          </div>
        <% end %>
        
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>